<p id="notice"><%= notice %></p>

<p>
  <strong>Issue publish:</strong>
  <%= @issue_cpublish.issue_publish_id %>
</p>

<%= link_to 'Edit', edit_issue_cpublish_path(@issue_cpublish) %> |
<%= link_to 'Back', issue_cpublishes_path %>
