<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @newspaper_layout.code %>
</p>

<%= link_to 'Edit', edit_newspaper_layout_path(@newspaper_layout) %> |
<%= link_to 'Back', newspaper_layouts_path %>
