<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @issue_publish.date %>
</p>

<%= link_to 'Edit', edit_issue_publish_path(@issue_publish) %> |
<%= link_to 'Back', issue_publishes_path %>
