

<%  if can? :view, :admin  %>
	<section>
	<header>
	<h4>
		<img src="/images/icon/admin.png" alt="admin" />
		<%= t('system_admin') %>
	</h4>
	</header>
	<footer>
	<ul>
		<% if can? :manage, :users  %>
			<li>- <%= link_to t('users_management'), users_path %></li>
		<% end  %>
		<% if can? :manage, :notices  %>
			<li>- <%= link_to t('notices_management'), general_notices_path %></li>
		<% end  %>
		<% if can? :manage, :issue  %>
			<li>- <%= link_to t('industry_management'), general_industries_path %></li>
		<% end  %>
	</ul>
	</footer>
	</section>
<%  end %>
