
<section>
<header>
<h4>
	<img src="/images/icon/design.png" alt="Design" /> 
	<%= t('design_department') %>
</h4>
</header>
<footer>
<ul>
	<li><a href="#">- 任务列表|Tasks List</a></li>
	<li><a href="#">- 设计审核|Tasks Confirm</a></li>
</ul>
</footer>
</section>
