
<section>
<header>
<h4>
	<img src="/images/icon/layout.png" alt="layout" /> 
	<%= t('layout_department') %>
</h4>
</header>
<footer>
<ul>
	<li><a href="#">- 今日广告|Daily Advs.</a></li>
	<li><a href="#">- 今日新闻|Daily News</a></li>
	<li><a href="#">- 版面审核|Layout Verify</a></li>
</ul>
</footer>
</section>
