<header>
<h2><img src="/images/logo.png" alt="星暹日报" /></h2>
</header>
<p><strong>星暹日报</strong>内部管理系统<br />
Sing Sian Yer Pao<br />Internal Management System</p>
<footer>
<ul class="buttons vertical">
	<li>
	<%= link_to "系 统 登 录 | Log In", new_user_session_path, :class=>"button fit scrolly" %>
	ENV : <%= Rails.env.humanize %>
	</li>
</ul>
</footer>
