1.存在的问题 Current Problem
<p>
<li>沟通障碍，信息传递不及时 Information not deliver on time</li>
<li>资讯更新不同步 Information not timely update</li>
<li>文件误删 Unexpected file remove </li>
<li>无有效的备份机制 We are now working without backup plan</li>
<li>病毒传播 Spread of Viruses</li>
</p>
<br>
2.结果 Results
<p>
<li>客户投诉 Customer complain</li>
<li>重工 Re-work</li>
<li>工作经常被打断，不连贯 Interrupted while working</li>
<li>产生误解 Misunderstood each other</li>
<li>责任区分不清 Responsibility issues</li>
</p>
3.目的 Objectives
<p>
<li>初步了解协同作业平台</li>
<li>思考各单位的需求</li>
<li>共同设计系统作业流程</li>
<li>发行部: 安排客户数据的输入工作 </li>
<li>广告部: 尽快习惯系统操作，改善广告素材管理</li>
<li>设计部: 尽快熟悉利用系统进行版本管理，及素材的获取</li>
</p>
