
<div class="fields">
	<table>
	<tr>
		<td><%= f.text_field :code, placeholder: t('city_code') %></td>  
		<td><%= f.text_field :city, placeholder: t('city_name') %></td>
		<td><%= link_to_remove_fields t('del'), f %></td>
	</tr>
</table>
</div>
