
<div class="fields">
	<table>
	<tr>
		<td><%= f.text_field :code, placeholder: "City Code" %></td>  
		<td><%= f.text_field :city, placeholder: "City Name" %></td>
		<td><%= link_to_remove_fields t('del'), f %></td>
	</tr>
</table>
</div>
