
<div class="fields">
	<table>
		<tr>
			<td>City Code : <%= f.text_field :code %></td>  
			<td>City : <%= f.text_field :city %></td>
			<td><%= link_to_remove_fields t('del'), f %></td>
		</tr>
	</table>
</div>
