<p id="notice"><%= notice %></p>

<p>
  <strong>Request:</strong>
  <%= @adv_originalsource.request_id %>
</p>

<%= link_to 'Edit', edit_adv_originalsource_path(@adv_originalsource) %> |
<%= link_to 'Back', adv_originalsources_path %>
